@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

// Font Family + Font Weight
$text_font_family : 'Kumbh Sans', serif;
$text-font-weight_light : 400;
$text-font-weight-dark: 700;

// Font Size of Body Copy

$text_font_size : 1rem



