// Text Colors

$text-verydark-blue : hsl(220, 13%, 13%);
$text-darkgrayish-blue : hsl(219, 9%, 45%);
$text-grayish-blue :hsl(220, 14%, 75%);
$text-lightgrayish-blue : hsl(223, 64%, 98%);


// General Colors
$whiteColor : hsl(0, 0%, 100%);

// This black color will have 75% opacity for light box
$blackColor : hsl(0, 0%, 0%);

$orangeColor : hsl(26, 100%, 55%);
$paleOrange : hsl(25, 100%, 94%);

// Screen Sizes
$screen-sm : 23.43rem;
$screen-md: 42.25rem;
$screen-lg : 90rem

